# Core
aiogram
python-dotenv

# Database
SQLAlchemy
psycopg[binary]
alembic

# Cache & Queue
redis
apscheduler

# HTTP
aiohttp
aiofiles

# Server (for webhook on Render)
fastapi
uvicorn

# Image processing
Pillow

# Utils
pydantic
pydantic-settings
